@use '../../../globals.module';

.pad {
  position: absolute;
  z-index: 10;
  top: -35px;
  width: 100%;
  height: 120%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  min-height: 550px;
  margin-top: 50px;
  background-color: #F05018;
  width: 100%;
}

.contentRight {
  position: relative;
  max-width: 600px;
  height: 100%;
  margin: 0 20px 0 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentLeft {
  max-width: 600px;
  margin: 20px;
}

.rightFold {
  opacity: 20%;
  //background-color: white;
  position: absolute;
  width: 600px;
  height: 765px;
  border-radius: 25px;
  top: 10px;
  left: -30px;
  z-index: 20;
}

.flexContRow {
  @include globals.flexRowCenter;
  align-items: center;
  background-color: #071B26;
  border-radius: 20px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #685BC7;
  border-radius: 14px; /* slightly smaller than outer for visible border */
  padding: 5px 50px;
  width: fit-content;
  font-size: 24px;
  height: 44px;
  z-index: 50;
  @include globals.spaceFont
}

.picEl {
  margin: 15px;
  width: 80px;
  height: 80px;
}

.gradientBorder {

  padding: 2px; /* border width */
  border-radius: 16px;
  background: linear-gradient(to bottom, white, #66666600);
  display: inline-block;
  width: fit-content;
  margin: 20px 0;
  cursor: pointer;
  z-index: 50;

}

.spaceF {
  @include globals.spaceFont;
  letter-spacing: 2px;
}

.leftUp {
  background-color: #F05018;
  border-radius: 20px 20px 0 0;
  width: 480px;
}

.title {
  font-size: 23px;
  @include globals.spaceFont;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

.leftDown {
  width: 480px;
  border-radius: 0 0 20px 20px;

  background-color: #F67547;
}


@media (max-width: 380px) {

  .Btn {
    font-size: 19px;
    padding: 5px 20px;
  }
}

@media (min-width: 380px) and (max-width: 420px) {

  .Btn {
    font-size: 19px;
    padding: 5px 20px;
  }

}

@media (min-width: 420px) and (max-width: 490px) {

  .Btn {
    font-size: 19px;
    padding: 5px 20px;
  }
}