@use '../../globals.module';

.pad {
  position: absolute;
  z-index: 10;
  top: 150px;
  height: 1050px;
}

.padPopUp {
  position: absolute;
  z-index: 10;
  top: 380px;

}

.logoImg {
  width: 80%;
  height: 80%;
}

.content {
  margin-top: 50px;
  @include globals.flexColCenter;
  min-height: 856px;
  min-width: 1126px;
  z-index: 30;
  font-family: 'Jura', sans-serif;
}

.invertLine {
  transform: rotate(180deg);
}

.formText {
  height: 426px;
  opacity: 0.59;
  font-weight: lighter;
  font-size: 30px;
  line-height: 120%;
  width: 533px;
  margin-top: 60px;
  font-family: 'Jura', sans-serif;

}

.formInp {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  vertical-align: middle;
  font-family: 'Jura', sans-serif;
}

.formInpTall {
  width: 500px;
  height: 80px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  vertical-align: middle;
  font-family: 'Jura', sans-serif;

}

.cardContent {
  background: #F05018;
  border-radius: 14px; /* slightly smaller than outer for visible border */
  padding: 5px 50px;
  width: 410px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Jura;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include globals.spaceFont

}


.gradientBorder {
  padding: 2px; /* border width */
  border-radius: 16px;
  background: linear-gradient(to bottom, white, black);
  display: inline-block;

  margin: 30px 0 100px 0;
  cursor: pointer;
}

.formPad {
  background: linear-gradient(90deg, #201E1F -7.42%, #071B26 99.93%);
  margin: 240px 0 30px 0;
  border-radius: 20px;

}