@use '../../../globals.module';

.cardsWrapper {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.card {
  width: 520px;
  min-height: 750px;
  margin: 0 0 30px 0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  //border: 0px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F05018;
}
.pad {
  position: absolute;
  z-index: 10;
  top: -85px;
  width: 100%;
  height: 92%;

}
.cardTitle {
  font-weight: normal;
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.4;
  width: 450px;
  text-align: center;
  font-family: 'Space Ranger', sans-serif;
  min-height: 70px;
}

.cardText {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.6;
  min-height: 105px;
  text-align: center;
}

.video {
  min-height: 300px;
  min-width: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin: 20px 0;
  width: 100%;
  height : auto;
}

@media (min-width: 490px) and (max-width: 1920px) {
  .cardsWrapper {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 490px) {
  .cardsWrapper {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .card {
    width: 300px;
    min-height: 650px;
    margin: 0 0 30px 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    //border: 0 solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F05018;
  }

  .cardTitle {
    font-weight: bold;
    margin: 20px 0;
    font-size: 24px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    min-height: 30px;
  }

  .cardText {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.6;
    min-height: 105px;
    text-align: center;
    margin-bottom: 20px;
  }

  .video {
    min-height: 200px;
    min-width: 320px;
  }

}