@use '../../../globals.module';

.cardsWrapper {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 40px;
  width: 1200px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 33px;
}

.subtitle {
  width: 800px;
  font-size: 18px;
  margin: 0 200px 40px 200px;
}

.card {
  width: 560px;
  min-height: 250px;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-left: 6px solid #666666;
  background-color: white;
  color: #333333;
}

.cardTitle {
  font-weight: lighter;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 1.4;
  width: 450px;
  text-align: start;
}

.cardText {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  align-self: end;
  margin-right: 30px;
}

.backgroundVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  //transform: translate(-50%, -50%);
  object-fit: cover;
}

.videoWrapper {
  //position: absolute;
  //top: 80px;
  //left: 30%;
  height: 450px;
  width: 1200px;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 50px;
}

.blocks {
  display: flex;
  align-items: center;
  width: 1100px;
  justify-content: space-between;
  margin: 20px 0;
}

.blocksLogo {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
  margin: 20px 0 60px 0;
}

.blockTitle {
  font-size: 40px;
  font-weight: bold;
}

.blocksEl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 250px;
  min-height: 120px;
  background-color: #333333;
  color: white;
  padding: 25px 35px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.pLogo {
  width: 100px;
  height: 80px;
}

.namdov {
  color: #555555;
  font-size: 26px;
}

@media (min-width: 490px) and (max-width: 1920px) {
  .cardsWrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 490px) {
  .cardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .title {
    font-size: 40px;
    width: 1200px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 33px;
  }

  .subtitle {
    width: 800px;
    font-size: 18px;
    margin: 0 200px 40px 200px;
  }

  .card {
    width: 300px;
    min-height: 250px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-left: 6px solid #666666;
    background-color: white;
    color: #333333;
  }

  .cardTitle {
    font-weight: lighter;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;

    text-align: start;
  }

  .cardText {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    align-self: end;
    margin-right: 10px;
    text-align: end;
  }

  .backgroundVideo {
    height: 300px;
    width: 100%;
    z-index: -1;
    //transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .videoWrapper {
    //position: absolute;
    //top: 80px;
    //left: 30%;
    height: 200px;
    width: 320px;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 50px;
    border-radius: 8px;
  }

  .blocks {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin: 20px 0;
    flex-direction: column;
  }
  .blocksLogo {
    width: 300px;
  }

  .blockTitle {
    font-size: 40px;
    font-weight: bold;
  }

  .blocksEl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 120px;
    background-color: #333333;
    color: white;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 5px;
    width: 300px;
  }

  .pLogo {
    width: 100px;
    height: 80px;
    margin: 5px;
  }
  .namdov {
    text-align: center;
    align-self: center;
  }
}