@use '@/globals.module';

//@font-face {
//  font-family: 'Space Ranger';
//  src: url('/Space_Ranger_Rus/spacerangerrus.otf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

.orangeBtn {
  background-color: #F05018;
  width: 171px;
  height: 44px;
  padding-top: 31.94px;
  padding-right: 63.89px;
  padding-bottom: 31.94px;
  padding-left: 63.89px;
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(102, 102, 102, 0) 100%);
}

.header {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 300px;
  letter-spacing: 3px;
  font-size: 16px;
}

.contentWrapper {
  margin-top: 30px;
  //margin-bottom: 100px;
  width: 1300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
}

.logoImg2 {
  position: absolute;
  z-index: 10;
  left: -500px;
  top: -30px;
  //margin-right: 80px;
  //scale: (0.5);
  width: 680px;
  height: 200px;
}

.logoImg {
  //margin-right: 80px;
  height: 180px;
  width: 100vw;
  top: -45px;
  position: absolute;
  //overflow: hidden;
  object-position: center;
  object-fit: cover;
}

.light {
  position: absolute;
  left: 500px;
  scale: 2;
}

.line {
  position: absolute;
  right: -200px;
  width: 1600px;
}

.mainTitle {
  //height: 86px;
  width: 1300px;
  font-size: 55px;
  font-weight: 500;
  margin: 30px 0;
  font-family: 'Space Ranger', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.fillerText {
  width: 1300px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
  letter-spacing: 3px;
  vertical-align: middle;
  //margin: 140px 0 100px 0;
  text-align: center;
}

.ancorItem {
  margin: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.backgroundVideo {
  height: 900px;
  width: 1800px;
  z-index: -1;
  //transform: translate(-50%, -50%);
  object-fit: cover;
}

.videoWrapper {
  position: absolute;
  top: 80px;
  //left: 30%;
  height: 900px;
  width: 1800px;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 50px;
}

.videoWrapper::after {
  content: "";
  position: absolute;
  scale: (1);
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
                  ellipse at center,
                  rgba(0, 0, 0, 0) 20%, /* transparent in the middle */

                  rgba(104, 91, 199, 1) 75% /* almost black at corners */
  );
}

@media (min-width: 490px) and (max-width: 1920px) {
  .contentWrapper {
    width: 1030px;
    margin-top: 140px;
    margin-bottom: 80px;
  }
  .mainTitle {
    width: 1100px;
    font-size: 60px;
  }
  .fillerText {
    font-weight: normal;
  }
  .line {
    position: absolute;
    right: -200px
  }
  .light {
    position: absolute;
    left: 250px;
    scale: 2;
  }
  .backgroundVideo {
    height: 900px;
    width: 1920px;
    z-index: -1;
    //transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
    width: 1920px;
    overflow: hidden;
    z-index: -1;
  }

  .videoWrapper::after {
    content: "";
    position: absolute;
    scale: (1);
    inset: 0;
    pointer-events: none;
    //background: radial-gradient(
    //                ellipse at center,
    //                rgba(0, 0, 0, 0) 10%, /* transparent in the middle */
    //                rgba(20, 25, 28, 1) 75% /* almost black at corners */
    //);
  }
}

@media (max-width: 490px) {
  .header {
    margin-left: 0;
  }
  .logoImg {
    top: -75px;
  }
  .contentWrapper {
    margin-top: 80px;
    //margin-bottom: 100px;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 0;
  }

  .logoImg2 {
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: -10px;
    //margin-right: 80px;
    //scale: (0.5);
    width: 320px;
    height: 100px;
  }
  .mainTitle {
    width: 95%;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Space Ranger', sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }
  .fillerText {
    width: 85%;
    font-size: 14px;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 2px;
    vertical-align: middle;
    //margin: 140px 0 100px 0;
    text-align: center;
    margin-top: 10px;
  }
  .videoWrapper {
    //position: absolute;
    //top: 80px;
    //left: 30%;
    height: 200px;
    width: 80%;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .backgroundVideo {

    height: 220px;
    width: 100%;
    z-index: -1;
    //transform: translate(-50%, -50%);
    object-fit: cover;
  }
}