@use '../../../globals.module';

.title {
  text-align: center;
  font-size: 40px;
  width: 320px;
  @include globals.spaceFont;
}

.text {
  font-size: 20px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0;
}

.ico {
  margin: 0;
  width: 50px;
  height: 50px;
}

.icoTextLong {
  text-align: start;
  min-width: 132px;
}

.icoTextShort {
  text-align: start;
  min-width: 82px;
}

.pad {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 110%;
}

.photoCard {
  width: 320px;
  height: 320px;
  border-radius: 15px;
  transition: 0.5s;
  cursor: pointer;
  margin: 10px;
  object-fit: cover;
}

//
//.photoCard:hover {
//  scale: 1.1;
//  transition: 0.3s;
//}

.photoCardGray {
  width: 320px;
  height: 150px;
  transition: 0.5s;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
  object-fit: cover;
}

.gradientBorder {
  padding: 2px; /* border width */
  border-radius: 16px;
  background: linear-gradient(to bottom, white, black);
  display: inline-block;
  width: fit-content;
  margin: 0 5px 40px 5px;
  cursor: pointer;
  z-index: 20;

}

.cardContent {
  text-align: center;
  background: #F05018;
  border-radius: 14px; /* slightly smaller than outer for visible border */
  padding: 15px 20px;
  width: 270px;
  font-size: 24px;
  font-family: 'Space Ranger', sans-serif;
}


//@media (min-width: 320px) and (max-width: 380px) {
//
//}
//
//@media (min-width: 380px) and (max-width: 490px) {
//
//
//}

@media (max-width: 420px) {
  .photoCard {
    width: 90%;
  }
  .photoCardGray {
    width: 90%;
  }
  .cardContent {
    font-size: 19px
  }
  .icons{
    width: 80%;
  }
  .ico{
    margin: 0 5px ;
  }
  .icoTextShort{
    min-width: 60px ;
    font-size: 14px;
  }
  .icoTextLong{
    min-width: 60px ;
    font-size: 14px;
  }
}

@media (min-width: 420px) and (max-width: 490px) {
  .photoCard {
    width: 90%;
  }
  .photoCardGray {
    width: 90%;
  }
  .cardContent {
    font-size: 19px
  }


}